{% extends "bootstrap_responsive.html" %}

{% block body_content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Kosningapróf DV í boði gogn.in</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Upphafssíða</a></li>
              <li><a href="/um">Um</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <a name="top"><p style="padding-top: 40px; margin-top: -40px;"></p></a>
      <div class="hero-unit">
        <p>
        {% if question_id != 1 %}
          <a href="/spurning/{{question_id -1 }}" class="btn btn-success btn-small"><i class="icon-white icon-circle-arrow-left"></i> Fyrri</a>
                  {% endif %}
        Spurning {{question_id}} af 66

          {% if question_id != 66 %}
          <a href="/spurning/{{question_id +1 }}" class="btn btn-success btn-small"><i class="icon-white icon-circle-arrow-right"></i> Næsta </a>
                  {% endif %}
        </p>
        <br />
        <h3>{{question_text}}</h3>
        <br />
        <h5>Þrengdu leitina</h5>
        <p>
          {% for district in districts %}
      <a href="/spurning/{{question_id}}/{{district}}"><button class="btn btn-success" type="button"><i class="icon-white icon-circle-arrow-down"></i>{{district}}</button></a>&nbsp;
      {% endfor %}
</p>
<p>
  {% if place_selected %}

  {% if place_selected == "1" %}
  <a href="/spurning/{{question_id}}/frambjodendur/saeti/1"><button class="btn btn-warning active" type="button"><i class="icon-white icon-circle-arrow-down"></i>Oddvitar</button></a>&nbsp;
  <a href="/spurning/{{question_id}}/frambjodendur/saeti/1-3"><button class="btn btn-success" type="button"><i class="icon-white icon-circle-arrow-down"></i>1-3 sæti</button></a>&nbsp;
<a href="/spurning/{{question_id}}/frambjodendur/saeti/1-5"><button class="btn btn-success" type="button"><i class="icon-white icon-circle-arrow-down"></i>1-5 sæti</button></a>&nbsp;
  {% endif %}
  {% if place_selected == "1-3" %}
  <a href="/spurning/{{question_id}}/frambjodendur/saeti/1"><button class="btn btn-success" type="button"><i class="icon-white icon-circle-arrow-down"></i>Oddvitar</button></a>&nbsp;
  <a href="/spurning/{{question_id}}/frambjodendur/saeti/1-3"><button class="btn btn-warning active" type="button"><i class="icon-white icon-circle-arrow-down"></i>1-3 sæti</button></a>&nbsp;
  <a href="/spurning/{{question_id}}/frambjodendur/saeti/1-5"><button class="btn btn-success" type="button"><i class="icon-white icon-circle-arrow-down"></i>1-5 sæti</button></a>&nbsp;
  {% endif %}
    {% if place_selected == "1-5" %}
    <a href="/spurning/{{question_id}}/frambjodendur/saeti/1"><button class="btn btn-success" type="button"><i class="icon-white icon-circle-arrow-down"></i>Oddvitar</button></a>&nbsp;
<a href="/spurning/{{question_id}}/frambjodendur/saeti/1-3"><button class="btn btn-success" type="button"><i class="icon-white icon-circle-arrow-down"></i>1-3 sæti</button></a>&nbsp;
  <a href="/spurning/{{question_id}}/frambjodendur/saeti/1-5"><button class="btn btn-warning active" type="button"><i class="icon-white icon-circle-arrow-down"></i>1-5 sæti</button></a>&nbsp;
   {% endif %}
  {% else %}

<a href="/spurning/{{question_id}}/frambjodendur/saeti/1"><button class="btn btn-success" type="button"><i class="icon-white icon-circle-arrow-down"></i>Oddvitar</button></a>&nbsp;
<a href="/spurning/{{question_id}}/frambjodendur/saeti/1-3"><button class="btn btn-success" type="button"><i class="icon-white icon-circle-arrow-down"></i>1-3 sæti</button></a>&nbsp;
<a href="/spurning/{{question_id}}/frambjodendur/saeti/1-5"><button class="btn btn-warning" type="button"><i class="icon-white icon-circle-arrow-down"></i>1-5 sæti</button></a>&nbsp;
  {% endif %}
</p>

<h5>Hoppaðu beint í ákveðin svör</h5>
        <p>
          {% for answer in answer_options %}
      <a href="#{{answer}}"><button class="btn btn-info" type="button"><i class="icon-white icon-circle-arrow-down"></i>{{answer}}</button></a>&nbsp;
      {% endfor %}
</p>
<br />
<p><div class="fb-like" data-href="http://x13.gogn.in/" data-send="true" data-width="450" data-show-faces="false"></div></p>
      </div>
      {% for answer in answer_options %}
<div class="row" id="answer-{{answer}}">

  <div class="span12">
<a name="{{answer}}"><h3 style="padding-top: 40px; margin-top: -40px;">{{answer}}</h3></a>
        <br />
        <div class="row">
                    <div class="span2"><p class="text-info"><h6>{{question_text}}</h6></p>
                      <a href="#top" class="btn btn-success btn-small"><i class="icon-white icon-circle-arrow-up"></i> Efst á síðu</a>
                    </div>
          <div class="span10">
        {% for row in rows %}
        {% if row[2] == answer %}
        <h5><a href="http://dv.is{{row[8]}}" target="_blank">{{row[1]}}</a> - {{row[9]}} - {{row[5]}}. sæti í {{row[4]}} </h5>
        {% if row[0] %}
        <blockquote small>{{row[0]}}</blockquote></h6>
        {% endif %}
        {% endif %}
        {% endfor %}
</div>
</div><hr>
      </div>

        </div>
        {% endfor %}
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>


{% endblock %}
